@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



@layer base {
  :root {
    --courserColor: black;
    --courserollowerColor: orange;

    --background: 240 50% 98%;
    --foreground: 246 50% 4%;
    --card: 240 50% 98%;
    --card-foreground: 246 50% 4%;
    --popover: 240 50% 98%;
    --popover-foreground: 246 50% 4%;
    --primary: 243 51% 52%;
    --primary-foreground: 240 50% 98%;
    --secondary: 295 50% 73%;
    --secondary-foreground: 246 50% 4%;
    --muted: 240 51% 20%;
    --muted-foreground: 246 50% 70%;
    --accent: 316 51% 62%;
    --accent-foreground: 246 50% 4%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 246 50% 4%;
    --border: 240 51% 20%;
    --input: 240 51% 20%;
    --ring: 316 51% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --courserColor: white;
    --courserollowerColor: blue;

    --background: 240 45% 2%;
    --foreground: 246 50% 96%;
    --card: 240 45% 2%;
    --card-foreground: 246 50% 96%;
    --popover: 240 45% 2%;
    --popover-foreground: 246 50% 96%;
    --primary: 243 51% 48%;
    --primary-foreground: 246 50% 96%;
    --secondary: 296 50% 27%;
    --secondary-foreground: 246 50% 96%;
    --muted: 240 45% 80%;
    --muted-foreground: 246 50% 96%;
    --accent: 316 51% 38%;
    --accent-foreground: 246 50% 96%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 245 49% 10%;
    --border: 240 45% 60%;
    --input: 240 45% 80%;
    --ring: 316 51% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}


* {
  /* cursor: none; */
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth !important;
}




.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--courserColor);
  z-index: 2000;
  user-select: none;
  pointer-events: none;
}