@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@layer base {
  :root {
    --courserColor: black;
    --courserollowerColor: white;

    --background: 205 100% 97%;
    --foreground: 202 100% 4%;
    --card: 205 100% 97%;
    --card-foreground: 202 100% 4%;
    --popover: 205 100% 97%;
    --popover-foreground: 202 100% 4%;
    --primary: 203 96% 51%;
    --primary-foreground: 202 100% 4%;
    --secondary: 350 96% 71%;
    --secondary-foreground: 202 100% 4%;
    --muted: 205 100% 20%;
    --muted-foreground: 202 100% 70%;
    --accent: 40 96% 62%;
    --accent-foreground: 202 100% 4%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 202 100% 4%;
    --border: 205 100% 20%;
    --input: 205 100% 20%;
    --ring: 40 96% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --courserColor: white;
    --courserollowerColor: white;

    --background: 204 100% 3%;
    --foreground: 201 100% 96%;
    --card: 204 100% 3%;
    --card-foreground: 201 100% 96%;
    --popover: 204 100% 3%;
    --popover-foreground: 201 100% 96%;
    --primary: 203 96% 49%;
    --primary-foreground: 204 100% 3%;
    --secondary: 350 96% 29%;
    --secondary-foreground: 201 100% 96%;
    --muted: 204 100% 80%;
    --muted-foreground: 201 100% 96%;
    --accent: 40 96% 38%;
    --accent-foreground: 204 100% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 201 100% 10%;
    --border: 204 100% 60%;
    --input: 204 100% 80%;
    --ring: 40 96% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  display: block;
}

html {
  overflow-x: hidden;
}


* {
  cursor: none !important;
  font-family: 'Poppins', sans-serif !important;
  scroll-behavior: smooth !important;
}

#AyushStroke {
  -webkit-text-stroke: 3px var(--courserColor);
}

.HeroText {
  line-height: 12vw;
  font-size: 12vw;
}

.HeroTextStroke {
  font-size: 12vw;
}

.HeroTextSmall {
  margin-top: 20px;
  font-size: 30px;
}