.heroColorClass {
    background-color: white !important;
}

.aboutColorClass {
    background-color: rgb(12, 12, 17) !important;
    color: white !important;
}

.projectsColorClass {
    background-color: white !important;
}

.contactColorClass {
    background-color: white !important;
}