/* .heroColorClass {
    background-color: transparent !important;
}

.aboutColorClass {
    background-color: rgb(12, 12, 17) !important;
}

.projectsColorClass {
    background-color: transparent !important;
}

.contactColorClass {
    background-color: transparent !important;
} */